---
export const prerender = false;
import BaseLayout from '@/layouts/base-layout.astro';
import '../../styles/global.css';
import EditorPage from '@/components/react-pages/editor';
import { directus } from '@/lib/directus-instance';
import { readItem } from '@directus/sdk';
import type { IPost } from '@/type/post';
const { id } = Astro.params;

const token = Astro.cookies.get("directus_session_token")?.value;

if (!token) {
  return Astro.redirect("/login");
}

const post = await directus.request(readItem("posts", id ?? ""));
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Dashboard</title>
	</head>
	<BaseLayout>
	<body>
		<EditorPage id={id ?? ""} draftedPost={post as IPost} client:only />
	</body>
	</BaseLayout>
</html>