---
export const prerender = false;
import BaseLayout from '@/layouts/base-layout.astro';
import '../../styles/global.css';
import EditorPage from '@/components/react-pages/editor';
const { id } = Astro.params;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Dashboard</title>
	</head>
	<BaseLayout>
	<body>
		<EditorPage id={id ?? ""} client:only />
	</body>
	</BaseLayout>
</html>