---
import Navbar from '../components/navbar.tsx';
import Footer from '../components/footer.astro';
import '../styles/global.css';
import ContactComponent from '@/components/contact-comp';
import { directus } from '@/lib/directus-instance';
import { readSingleton } from '@directus/sdk';

const global = await directus.request(readSingleton("global"))

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{global.title}</title>
		<meta name="description" content={global.description} />
	</head>
	<body>
		<Navbar client:load />
        <ContactComponent client:load />
		<Footer client:load />
	</body>
</html>