---
import DashboardPage from "@/components/react-pages/dashboard"
import '../styles/global.css';
import BaseLayout from "@/layouts/base-layout.astro";
import { getUser } from "@/api-call/user";

const token = Astro.cookies.get("directus_session_token")

if (!token?.value) {
	return Astro.redirect("/login")
}

const user = await getUser()
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Dashboard</title>
	</head>
	<BaseLayout>
		<body>
			<DashboardPage token={token?.value ?? ""} user={user} client:load />
		</body>
	</BaseLayout>
</html>
