---
import { LoginForm } from "@/components/login-form";
import BaseLayout from "@/layouts/base-layout.astro";
import "@/styles/global.css";

const token = Astro.cookies.get("directus_session_token")?.value

if (token) {
  return Astro.redirect("/dashboard")
}
---

<html lang="en">
  <head>
    <title>Login | Yukari Mugen</title>
  </head>
  <BaseLayout>
    <body class="flex min-h-svh w-full items-center justify-center bg-gray-100">
        <div class="w-full max-w-sm">
            <LoginForm client:load />
        </div>
    </body>
  </BaseLayout>
</html>