---
import { LoginForm } from "@/components/login-form";
import "@/styles/global.css";
---

<html lang="en">
  <head>
    <title>Login | Thought Gallery</title>
  </head>
  <body class="flex min-h-svh w-full items-center justify-center bg-gray-100">
    <div class="w-full max-w-sm">
        <LoginForm client:load />
    </div>
  </body>
</html>