---
import Navbar from "@/components/navbar.tsx";
import ProgramsPage from "@/components/react-pages/programs";
import Footer from '../../components/footer.astro';
import '../../styles/global.css';
import { directus } from "@/lib/directus-instance";
import { readItems, readSingleton } from "@directus/sdk";

const posts = await directus.request(
  readItems("posts", {
    filter: {
      status: {
        _eq: "published",
      },
      category: {
        _eq: "programs"
      }
    },
    fields: ["slug", "title", 'body', "image", "category"],
  })
);
const global = await directus.request(readSingleton("global"))

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{global.title}</title>
		<meta name="description" content={global.description} />
	</head>
	<body>
		<Navbar client:load />
        <ProgramsPage programs={posts} client:load />
        <Footer client:load />
	</body>
</html>